<div class="row cards">
  <div class="col col-xs-12">
    <form>
      <div class="input-group mb-3">
        <legend>search your favorite pokemon, for example porygon</legend>
        <input
          #key="ngModel"
          name="key"
          type="text"
          class="form-control"
          placeholder="search your pokemon"
          [(ngModel)]="keySearch"
          aria-label=""
          aria-describedby="basic-addon2"
        />
        <div class="input-group-append">
          <button class="btn btn-primary" (click)="searchPokemon()" type="button">search</button>
        </div>
      </div>
    </form>
  </div>
</div>
